adf_pipeling/linkedTemplates/ArmTemplate_0.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "tradeprojectadf"
        },
        "adls_ls_1_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'adls_ls_1'"
        },
        "adls_ls_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'adls_ls'"
        },
        "MySql1_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'MySql1'"
        },
        "ls_raw_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'ls_raw'"
        },
        "ls_trade_nb_1_accessToken": {
            "type": "secureString",
            "metadata": "Secure string for 'accessToken' of 'ls_trade_nb_1'"
        },
        "ls_json_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'ls_json'"
        },
        "ls_csv_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'ls_csv'"
        },
        "delete2_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'delete2'"
        },
        "adls_ls_1_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://tradeprojectadls.dfs.core.windows.net/"
        },
        "MySql1_properties_typeProperties_server": {
            "type": "string",
            "defaultValue": "njn3y3.h.filess.io"
        },
        "MySql1_properties_typeProperties_database": {
            "type": "string",
            "defaultValue": "trade_etl_earliersee"
        },
        "MySql1_properties_typeProperties_username": {
            "type": "string",
            "defaultValue": "trade_etl_earliersee"
        },
        "ls_raw_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://tradeprojectadls.dfs.core.windows.net/"
        },
        "ls_trade_nb_1_properties_typeProperties_existingClusterId": {
            "type": "string",
            "defaultValue": "0409-084413-48u8x2ps"
        },
        "ls_json_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://tradeprojectadls.dfs.core.windows.net/"
        },
        "ls_csv_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://tradeprojectadls.dfs.core.windows.net/"
        },
        "delete2_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://tradeprojectadls.dfs.core.windows.net/"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/adls_ls_1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('adls_ls_1_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('adls_ls_1_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/adls_ls')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "connectionString": "[parameters('adls_ls_connectionString')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/MySql1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "MySql",
                "typeProperties": {
                    "server": "[parameters('MySql1_properties_typeProperties_server')]",
                    "port": 3306,
                    "database": "[parameters('MySql1_properties_typeProperties_database')]",
                    "username": "[parameters('MySql1_properties_typeProperties_username')]",
                    "sslMode": 1,
                    "useSystemTrustStore": 0,
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('MySql1_password')]"
                    },
                    "driverVersion": "v2"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_raw')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('ls_raw_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('ls_raw_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_trade_nb_1')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": "https://adb-7405611218115566.6.azuredatabricks.net",
                    "accessToken": {
                        "type": "SecureString",
                        "value": "[parameters('ls_trade_nb_1_accessToken')]"
                    },
                    "existingClusterId": "[parameters('ls_trade_nb_1_properties_typeProperties_existingClusterId')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_json')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('ls_json_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('ls_json_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_csv')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('ls_csv_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('ls_csv_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/delete2')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('delete2_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('delete2_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_mysql_etl_tracker')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "MySql1",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "MySqlTable",
                "schema": [],
                "typeProperties": {
                    "tableName": "`etl_file_tracking`"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/MySql1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_excel_raw')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_raw",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "folderPath": "raw_india_trade_date",
                        "fileSystem": "raw"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_raw')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_mysql_etl_tracker_copy1')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "MySql1",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "MySqlTable",
                "schema": [],
                "typeProperties": {
                    "tableName": "`new`"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/MySql1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_json')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_json",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "cdc.json",
                        "fileSystem": "raw"
                    }
                },
                "schema": {}
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_json')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_csv')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_csv",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "input.rtf",
                        "folderPath": "new",
                        "fileSystem": "raw"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": [
                    {
                        "name": "{\\rtf1\\ansi\\ansicpg1252\\cocoartf2868",
                        "type": "String"
                    }
                ]
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_csv')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_csv2')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_csv",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": "output.json",
                        "folderPath": "new",
                        "fileSystem": "raw"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_csv')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/p_ingestion')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "get_file_name",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "ds_excel_raw",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "fieldList": [
                                "childItems"
                            ],
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true,
                                "enablePartitionDiscovery": false
                            },
                            "formatSettings": {
                                "type": "BinaryReadSettings"
                            }
                        }
                    },
                    {
                        "name": "Lookup_all_file_name",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "MySqlSource",
                                "query": "select file_name from etl_file_tracking"
                            },
                            "dataset": {
                                "referenceName": "ds_mysql_etl_tracker",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "Filter_new_file_name",
                        "type": "Filter",
                        "dependsOn": [
                            {
                                "activity": "get_file_name",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "Lookup_all_file_name",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('get_file_name').output.childItems",
                                "type": "Expression"
                            },
                            "condition": {
                                "value": "@not(contains(string(activity('Lookup_all_file_name').output.value), item().name))",
                                "type": "Expression"
                            }
                        }
                    },
                    {
                        "name": "Notebook1",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Filter_new_file_name",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "notebookPath": "/Users/jigyasana.hm30@iihmr.in/trade_notebook_1",
                            "baseParameters": {
                                "json_file": {
                                    "value": "@{activity('Filter_new_file_name').output}",
                                    "type": "Expression"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "ls_trade_nb_1",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "variables": {
                    "myvarable": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2026-04-29T06:32:10Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_excel_raw')]",
                "[concat(variables('factoryId'), '/datasets/ds_mysql_etl_tracker')]",
                "[concat(variables('factoryId'), '/linkedServices/ls_trade_nb_1')]"
            ]
        }
    ]
}